@import "./base.css";

@font-face {
  font-family: "Amiko";
  src: url("./src/components/fonts/Amiko-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Amiko";
  src: url("./src/components/fonts/Amiko-Regular.ttf") format("truetype");
  font-weight: normal;
}
#app {
  width: 100%;
  font-weight: normal;
  padding: 0px;
  font-family: "Amiko";
}
/* 
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
